.calendar-holder table {
	width: 100%;
	border: 1px solid black;
	border-collapse: collapse;
}

.calendar-holder table td,.calendar-holder table th{
	width: 14%;
	height: 20px;
	border: 1px solid black;
	padding: 5px;
	vertical-align: top;
}

.calendar-cell .event-link{
	display: block;
	font-size: 9px;
	margin-bottom: 5px;
	line-height: 12px;
}

.cell-date-number {
	font-weight: bold;
}

.calendar-cell:hover{
	background-color: #EEE;
}

.calendar-month-holder .today{
	background-color: #EEE;
}

.previous-month .cell-date-number {
	color: #999;
}

.calendar-holder .calendar-month-holder {
	display: none;
}

.calendar-holder .first-month {
	display: block;
}

.calendar-header {
	text-align: center;
}

.calendar-header div, .calendar-header .month-heading {
	display: inline;
}

.calendar-header .month-heading {
	margin: 0.5em 0.5em 0 0.5em;
}

.calendar-header .nav-arrow {
	font-size: 20px;
	cursor: pointer;
	color: white;
	background-color: #444;
	padding: 2px;
	border-radius: 2px;
	border-width: 1px;
	font-weight: bold;
	width: 1em;
}
